{{!-- template-lint-disable no-triple-curlies--}}
<div class="ui huge dividing header">
  {{#if model.title}}
    {{model.title}}
  {{else}} 
    <i>No Title</i>
  {{/if}}
</div>

Created: {{moment-from-now model.createdAt}}; Last Update: {{moment-from-now model.updatedAt}} <br> <br>

{{#if editMode}}
  <button class="ui  {{if deleteMode "disabled"}} green button" {{action "save"}}>
    <i class="save icon"></i>
    Save changes
  </button>
  <br>
  <br>
  <button class="ui blue {{if deleteMode "disabled"}} button" {{action (mut editMode) false}}>
    <i class="eye icon"></i>
    View
  </button>
  {{#if deleteMode}}
    <div class="ui message">
      <div class="header">
        Are you sure you want to delete this document?
      </div>
      <br>
      <button class="ui red inverted button" {{action "delete"}}>
        <i class="trash icon"></i>
        Yes, I am sure
      </button>
      <button class="ui blue button" {{action (mut deleteMode) false}}>
        No, cancel
      </button>
    </div>
  {{else}}
    <button class="ui red button" {{action (mut deleteMode) true}}>
      <i class="trash icon"></i>
      Delete Document
    </button>
  {{/if}}
  
{{else}}
  <button class="ui small inverted orange button" {{action (mut editMode) true}}>
    <i class="edit icon"></i>
    Edit Document
  </button>
{{/if}}
<br>
<br>
<div class="ui form">
  <div class="field">
    <label for="">Title of Document</label>
    {{#if editMode}}
      <div class="ui input">
        {{input value=model.title}}
      </div>
    {{else}}
      {{model.title}}
    {{/if}}
  </div>
  <div class="field">
    {{#if editMode}}
      <label for="" class="ui small dividing header">Add new labels</label>
      {{#each model.labels as |label|}}
        <div class="ui basic label" {{action "addLabel" label}} role="button">
          <i class="plus icon"></i>
          {{label}}
        </div>
      {{/each}}
      <br>
      <br>
      <label class="ui small dividing header">My Labels</label>
      {{#each model.newLabels as |label|}}
        <div class="ui orange label" role="button" {{action "removeLabel" label}}>
          <i class="trash icon"></i>
          {{label}}
        </div>
      {{/each}}
    {{else}}  
      <label for="">Labels:</label>
      {{#each model.label as |label|}}
        <a class="ui basic label">{{label}}</a>  
      {{/each}}
    {{/if}}
  </div>
  <div class="field">
    <label for="">Original Document Image</label>
    <a href="https://api-letterman.herokuapp.com/api/stream?fileName={{model.imageUrl}}&token={{session.data.authenticated.user.xa}}" target="_blank" rel="noreferrer">
      <i class="paperclip icon"></i> Open Image
    </a>
  </div> 
  <div class="field">
    <label for="">Content of Document</label>
    {{#if editMode}}
      {{pell-editor value=model.content onChange=(action (mut model.content)) pellOptions=options}}
    {{else}}
      {{{model.content}}}
    {{/if}}
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{outlet}}