{{!-- template-lint-disable no-unused-block-params --}}
<div class="row">
  <h2 class="ui huge dividing header">New Document</h2>
</div>
<br>
<div class="row">
  <div class="ui stackable grid">
    <div class="sixteen wide column">
      <div class="ui form">
        <div class="field">
          <label for="" class="ui small header">Title of Document</label>
          {{input value=newtitle type=text placeholder="Enter title..."}}
        </div>
        <div class="field">
          <label for="" class="ui dividing small header">Upload your Document</label>
        </div>
        {{#file-upload name="image"
                       accept="image/*"
                       onfileadd=(action "uploadImage") as |queue|}}
          <a role="button" class="ui {{if load "loading"}} {{if loader "disabled"}} button" id="uploadButton">
            Upload File
          </a>
          {{this.image.name}}
        {{/file-upload}} 
        <br>
        <br>
        <div class="field">
          <label for="" class="ui small dividing header">Add new labels</label>
          {{#each model.labelNames as |label|}}
            <div class="ui basic label" {{action "addLabel" label}} role="button">
              <i class="plus icon"></i>
              {{label}}
            </div>
          {{/each}}
          <br>
          <br>
          {{#if this.newLabels}}
            <label class="ui small dividing header">Added Labels</label>
            {{#each this.newLabels as |label|}}
              <div class="ui orange label" role="button" {{action "removeLabel" label}}>
                <i class="trash icon"></i>
                {{label}}
              </div>
            {{/each}}
          {{/if}}

        </div>
        <div class="field">
          {{#if loader}}
            <div class="ui icon message">
              <i class="notched circle loading icon"></i>
              <div class="content">
                <div class="header">
                  Just one second!
                </div>
                <p>We are processing the content for you.</p>
              </div>
            </div>
          {{else}}
            <div class="ui icon info message">
              <i class="info icon"></i>
              <div class="content">
                <div class="header">
                  What happens when I click on save?
                </div>
                <p for="">The image get's processed through Optical Character Recognition (OCR) and the help of Artificial Intelligence and will give you it's content in machine-encoded   text. <a href="https://sen.wikipedia.org/wiki/Optical_character_recognition" target="_blank" rel="noreferrer">Learn More</a> <br> <br> Click on save to see the magic.<i class="fas fa-magic"></i> &nbsp;&nbsp;</p>
              </div>
            </div>
          {{/if}}
          <button class="ui green {{if loader "loading"}} button" {{action "save"}}>
            <i class="save icon"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>