{{!-- template-lint-disable no-triple-curlies--}}
<div class="row">
  <h1 class="ui huge dividing header">{{model.name}}</h1>
</div>
<br>
<br>
<div class="row">
  <div class="ui raised stackable cards">
    {{#each model.letters as |letter|}}
      {{#link-to "letters.info" letter._id  class="violet card"}}
        <div class="content">
          <div class="header">
            {{#if letter.title}}
              {{letter.title}}
            {{else}} 
              <i>No Title</i>
            {{/if}}
          </div>
          <div class="meta">Last Update: {{moment-from-now letter.updatedAt}}</div>
          <div class="description" id="carddesc">Open to read the document...</div>
        </div>
        <div class="extra content">
          {{#each letter.label as |label|}}
            <div class="ui orange label">{{label}}</div>
          {{/each}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<br>
<br>
<br>
<br>