{{!-- template-lint-disable no-inline-styles --}}
{{ember-load-remover}}
<style type="text/css">
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }

  #sidebar {
    background: linear-gradient(to bottom, #04053A, #0D0E8B);
    position: fixed;
    height: 100vh;
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
  }

  #sidebar .ui.menu>a.item {
    padding: 10px 20px;
    line-height: 20px;
    color: white;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  #sidebar .ui.menu>a.item.active {
    background-color: #337ab7;
    color: white;
    border: none !important;
  }

  #sidebar .ui.menu>a.item:hover {
    background-color: #eee;
    color: #04053A !important;
  }

  #content {
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #content h1 {
    font-size: 36px;
  }

  #content .ui.dividing.header {
    width: 100%;
  }

  .ui.centered.small.circular.image {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .ui.borderless.menu {
    box-shadow: none;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }

  #menu {
    background-color: #04053A;
    border-bottom: 1px solid white
  }

  .item {
    color: white !important;
    font-family: "Poppins", sans-serif !important;
  }
  
  #mobmenu {
    background: linear-gradient(to bottom, #04053A, #0D0E8B);
  }

  #label {
    color: #FC820E;
  }

  #bottommenu {
    background: linear-gradient(to bottom, #04053A, #0D0E8B);
  }

  #mobtopmenu {
    background: linear-gradient(to bottom, #04053A, #0D0E8B);
  }
   
</style>
<script>
  function toggleSidebar() {
    $('.ui.sidebar').sidebar('toggle');
  }
</script>
{{#if session.isAuthenticated}}
  <div class="ui computer only padded grid">
    <div class="ui inverted borderless top fixed fluid menu" id="menu">
      <a href="/" class="header item" id="menu-header">
        Letterman
      </a>
      <div class="right menu">
        {{#link-to "dashboard" class="item"}}
          Dashboard
        {{/link-to}}
        {{#link-to "letters.new" class="item"}}
          <i class="fas fa-plus"></i> &nbsp;&nbsp;
          Create Document
        {{/link-to}}
        {{#link-to "manage-labels" class="item"}}
          <i class="fas fa-cog">
          </i> &nbsp;&nbsp;
          Manage Labels
        {{/link-to}}
        {{#link-to "profile" class="item"}}
          {{#if session.data.authenticated.user.photoURL}}
            <img src={{session.data.authenticated.user.photoURL}} class="ui avatar image" alt="avatar">
          {{else}}
            <img src="profile.png" alt="avatar" class="ui avatar image">
          {{/if}} &nbsp;
          {{session.data.authenticated.user.displayName}}
        {{/link-to}}
        
      </div>
    </div>
  </div>
  {{!-- MOBILE START --}}
  <div class="ui tablet mobile only padded grid">
    <div class="ui top fixed borderless fluid inverted menu" id="mobtopmenu">
      <div class="item">
        <button class="ui icon toggle basic inverted button" onclick="toggleSidebar()">
          <i class="content icon"></i>
        </button>
      </div>
      <div class="right menu">
        <a href="/" class="header item" id="mobmenuheader">
          Letterman
        </a>
      </div>
      <div class="ui left demo vertical inverted sidebar menu" id="mobmenu">
        <a class="item">My Labels:</a>
        <div style="height: 600px">
          {{#ember-scrollable autoHide=false}}
            {{#each model as |label|}}
              {{#link-to "labels.info" label.id class="item"}}
                <i class="fas fa-tag"></i>&nbsp;&nbsp;
                {{label.name}}
              {{/link-to}}
            {{/each}}
          {{/ember-scrollable}}
        </div>
      </div>
    </div>
    <div class="ui bottom fixed borderless fluid inverted labeled four item icon mini menu" id="bottommenu">
      {{#link-to "dashboard" class="item"}}
        <i class="clipboard icon"></i>
        Dashboard
      {{/link-to}}
      {{#link-to "manage-labels" class="item"}}
        <i class="cog icon"></i>
        Labels
      {{/link-to}}
      {{#link-to "letters.new" class="item"}}
        <i class="plus icon"></i>
        New
      {{/link-to}}
      {{#link-to "profile" class="item"}}
        {{#if session.data.authenticated.user.photoURL}}
          <img src={{session.data.authenticated.user.photoURL}} class="ui avatar image" alt="avatar">
        {{else}}
          <img src="profile.png" alt="avatar" class="ui avatar image">
        {{/if}}
        <br>
        Profile
      {{/link-to}}
    </div>
  </div>
  {{!-- MOBILE END --}}
  <div class="ui padded grid">
    <div class="three wide computer only column" id="sidebar">
      <div style="height: 825px">
        {{#ember-scrollable}}
          <div class="ui vertical borderless fluid text menu">
            <a class="item">Labels: </a>
            {{#each model as |label|}}
              {{#link-to "labels.info" label.id class="item"}}
                <i class="fas fa-tag"></i>&nbsp;&nbsp;
                {{label.name}}
              {{/link-to}}
            {{/each}}
          </div>
        {{/ember-scrollable}}
      </div>
    </div>
    <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer right floated column" id="content">
      <div class="ui computer only grid">
        <br>
      </div>
      {{outlet}}
    </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}
