<div class="row">
  <h1 class="ui huge dividing header">My Dashboard</h1>
</div>
<br>
<div class="center aligned row">
  <div class="ui left icon input">
    <i class="search icon"></i>
    {{input value=value placeholder="Search document..." type="text"}}
  </div>
</div>
<br>
<div class="row">
  <div class="ui raised stackable cards">
    {{#each model as |letter|}}
      {{#link-to "letters.info" letter.id  class="violet card"}}
        <div class="content">
          <div class="header">
            {{#if letter.title}}
              {{letter.title}}
            {{else}} 
              <i>No Title</i>
            {{/if}}
          </div>
          <div class="meta">Last Update: {{moment-from-now letter.updatedAt}}</div>
          <div class="description" id="carddesc">{{letter.content}}</div>
        </div>
        <div class="extra content">
          {{#each letter.label as |label|}}
            <div class="ui orange label">{{label}}</div>
          {{/each}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>