<div class="ui center aligned segment">
  <br>
  <br>
  <br>
  <button class="ui google plus button" {{action "authGoogle"}}>Google</button>
  <br>
  <br>
  <br>
  <button class="ui facebook button" {{action "authFacebook"}}>Facebook</button>
  <br>
  <br>
  <br>
  <button class="ui twitter button" {{action "authTwitter"}}>Twitter</button>
  <br>
  <br>
  <br>
  <button class="ui secondary button" {{action "authGithub"}}>GitHub</button>
  <br>
  <br>
  <br>
  <button class="ui basic button" {{action "authMicrosoft"}}>Microsoft</button>
</div>